<%= @game.current_player.marker %>, take your turn
<% @updated_board = @game.board.spaces.each_with_index.map {|space, index| !space.nil? ? space : index } %>

<table>
  <tr>
    <td id=<%= @updated_board[0] %>></td>
    <td id=<%= @updated_board[1] %>></td>
    <td id=<%= @updated_board[2] %>></td>
  </tr>
  <tr>
    <td id=<%= @updated_board[3] %>></td>
    <td id=<%= @updated_board[4] %>></td>
    <td id=<%= @updated_board[5] %>></td>
  </tr>
  <tr>
    <td id=<%= @updated_board[6] %>></td>
    <td id=<%= @updated_board[7] %>></td>
    <td id=<%= @updated_board[8] %>></td>
  </tr>
</table>
