<%= @game.current_player.marker %>, take your turn
<% @updated_board = @game.board.spaces.each_with_index.map {|space, index| !space.nil? ? space : index } %>

<form action="/play" method="post">
  <table>
   <tr>
     <td id="td-<%= @updated_board[0] %>"> <button type ="submit" name="selection" id="btn-<%= @updated_board[0] %>" value=<%= @updated_board[0] %>> </td>
     <td id="td-<%= @updated_board[1] %>"> <button type ="submit" name="selection" id="btn-<%= @updated_board[1] %>" value=<%= @updated_board[1] %>> </td>
     <td id="td-<%= @updated_board[2] %>"> <button type ="submit" name="selection" id="btn-<%= @updated_board[2] %>" value=<%= @updated_board[2] %>> </td>
   </tr>
   <tr>
     <td id="td-<%= @updated_board[3] %>"> <button type ="submit" name="selection"  id="btn-<%= @updated_board[3] %>" value=<%= @updated_board[3] %>> </td>
      <td id="td-<%= @updated_board[4] %>"> <button type ="submit" name="selection" id="btn-<%= @updated_board[4] %>" value=<%= @updated_board[4] %>> </td>
      <td id="td-<%= @updated_board[5] %>"> <button type ="submit" name="selection" id="btn-<%= @updated_board[5] %>"  value=<%= @updated_board[5] %>> </td>
    </tr>
   <tr>
     <td id="td-<%= @updated_board[6] %>"> <button type ="submit" name="selection" id="btn-<%= @updated_board[6] %>"  value=<%= @updated_board[6] %>> </td>
     <td id="td-<%= @updated_board[7] %>"> <button type ="submit" name="selection" id="btn-<%= @updated_board[7] %>"  value=<%= @updated_board[7] %>> </td>
     <td id="td-<%= @updated_board[8] %>"> <button type ="submit" name="selection" id="btn-<%= @updated_board[8] %>"  value=<%= @updated_board[8] %>> </td>
   </tr>
  </table>
</form>
